@media screen and (max-width: 650px) {
    .LogoHeader {
        visibility: hidden;
    }
}

#ricette {
    color: black;
}

#lista {
    display: grid;
    grid-template-columns: 544px 544px 544px;
    justify-content: space-between;
    margin-inline: 55px;
    margin-top: 70px;
    row-gap: 25px;
    margin-bottom: 100px;
}