.Card {
    height: 188px;
    width: 542px;
    border-radius: 30px;
    background: white;
    border: solid 1px #F0F0F1;
    box-shadow: rgba(149, 157, 165, 0.05) 0px 4px 12px;
    transition: box-shadow 250ms ease-in-out, 
    transform 150ms ease;
    cursor: pointer;
  }
  
  .Card:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  }
  
  p {
    height: 74px;
    width: inherit;
  }
  
  .Text {
    height: 109;
    width: 310px;
    margin-left: 147px;
    align-items: center;
    margin-top: 39.5px;
  }
  
  p {
    margin-top: 11px;
  }